<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../assets/css/style.css"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>25.04</title>
</head>
<body>
    <a href="./mirek">Klik</a>

    <h1>{{pageTitle}}</h1>
    <h2>{{subTitle}}</h2>
    <h3>{{newVar}}</h3>
    
    <input type="text" id="example">
    <button id="btn">Klik</button>
    <p id="tekst"></p>
    
    <script src="./../js/functions.js"></script>
</body>
</html>